<header class="d-flex justify-content-center py-3" style="background-color: rgba(50, 54, 66, 1);">
    <ul class="nav nav-pills">
        <li routerLink="" routerLinkActive="active"  class="nav-item" style="padding-right: 10px ;">
            <div class="container" style="background: #404653;
            border: 2px solid #555C6A;
            box-sizing: border-box;">
                <a class="nav-link" aria-current="page" style="font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;color: #FFFFFF;">Inicio</a>
            </div>
        </li>
        <li routerLink="news" routerLinkActive="active" class="nav-item" style="padding-right: 10px ;">
            <div class="container" style="background: #404653;
            border: 2px solid #555C6A;
            box-sizing: border-box;">
                <a class="nav-link" aria-current="page" style="font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;color: #FFFFFF;">Noticias</a>
            </div>
        </li>
        <li routerLink="client-service" routerLinkActive="active" class="nav-item" style="padding-right: 10px ;">
            <div class="container" style="background: #404653;
            border: 2px solid #555C6A;
            box-sizing: border-box;">
                <a class="nav-link" aria-current="page" style="font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;color: #FFFFFF;">Servicio Al Cliente</a>
            </div>
        </li>
        
    </ul>
</header>
<img src="https://www.nationalgeographic.com.es/medio/2020/09/21/rinoceronte-blanco-resistencia-atemporal-en-el-corazon-de-africa_4402fec0_1200x630.jpg" style="width: 100%;">